  <div class="modal fade" id="contactUs" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
{#            <div class="card card-signup card-plain">#}
              <div class="modal-header">

                <h5 class="modal-title card-title">Contact Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">

                  <div class="col mr-auto">

                    <form  id='ContactUsForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">

                    {% if not request.user.is_authenticated %}
                        <div class="form-group">
                          <div class="input-group" >
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-envelope"></i>
                              </div>
                            </div>
                            <input type="email" required id="contact_email" class="form-control" placeholder="Email...">
                          </div>
                        </div>
                    {% endif %}

                        <div class="form-group">
                          <div class="input-group" >
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-heading"></i>
                              </div>
                            </div>
                            <input type="text" required id="contact_subject" class="form-control" placeholder="Subject...">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group" >
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-keyboard"></i>
                              </div>
                            </div>
                            <input type="text" required id='contact_message' class="form-control" placeholder="Message...">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer justify-content-center ">
                       <button type="submit" class="btn btn-primary btn-round" style="margin-bottom: -1rem; margin-top: -1rem;">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
{#            </div>#}
          </div>
        </div>
      </div>
