{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}


    <figure class="item" style="text-align: center">
        <img src="../static/img/404_alien.png" alt="" style="width: 50%;">
        <figcaption class="caption"><h4>Oh Hey there! You seem to have been abducted, but we saved you!</h4></figcaption>
    </figure>

{#    #}
{##}
{##}
{#    <div style="text-align: center">#}
{#        <div class="caption" style="display: inline-block">#}
{##}
{#        </div>#}
{#        <br>#}
{#    </div>#}
{#    <div style="text-align: center">#}
{#        <div class="abducted-user" style="display: inline-block; width: 50%;">#}
{#        </div>#}
{#    </div>#}

{% endblock %}