{% load staticfiles %}

<br>
<br>
{#<div style="clear: both">#}

{#<div id = "wrapper-for-footer" ">#}
<footer class="footer" style="position: static; text-align: center; float: bottom; padding-top: 100%">
        <div class="container-fluid">
            <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                    <img src="{% static '/img/Actual_logos/PNG_FORM/puttogether1-04.png'  %}" width="15%" alt="">
                </a>
              </li>
            </ul>
          </nav>

    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
{#              <a class="Socials" href="#"><i class="fab fa-facebook fa-lg"></i></a>#}
{#              <a class="Socials" href="#"><i class="fab fa-twitter fa-lg"></i></a>#}
              <a class="Socials" href="#"><i class="fab fa-google fa-lg "></i></a>
{#              <a class="Socials" href="#"><i class="fab fa-linkedin fa-lg"></i></a>#}
              <hr class="my-4">
          <p>
            PuTogether is built with passion, transcendence, and user-based development. This is where everything gets a bit easier to organize. This is where all of your opportunities start and end. This is PutTogether.
          </p>
          <hr class="my-4">
          </div>
        </div>
{#        <div class="footer-section links"></div>#}
{#        <div class="footer-section contact-form"></div>#}


    </div>
    </div>
      </footer>
{#    </div>#}
{#    </div>#}