{% load staticfiles %}

<br>
<br>
{#<div style="clear: both">#}

{#<div id = "wrapper-for-footer" ">#}
<footer class="footer">
        <div class="container-fluid">
            <nav class="float-left">
            <ul>
              <li data-aos="zoom-in-up" data-aos-offset="250" data-aos-easing="ease-in-sine">
                <a href="/PutTogether/#Top_background">
                    <img src="{% static '/img/Actual_logos/PNG_FORM/puttogether1-04.png'  %}" width="22%" alt="">
                </a>
              </li>
            </ul>
          </nav>

    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about">
{#              <a class="Socials" href="#"><i class="fab fa-facebook fa-lg"></i></a>#}
{#              <a class="Socials" href="#"><i class="fab fa-twitter fa-lg"></i></a>#}
              <a class="Socials" data-toggle="modal" data-target="#contactUs"><i style="color: #59A61E; cursor: pointer" class="fab fa-google fa-lg "></i></a>
{#              <a class="Socials" href="#"><i class="fab fa-linkedin fa-lg"></i></a>#}
              <hr class="my-4">
          <p data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
            PutTogether is built with passion, transcendence, and user-based development. This is where everything gets a bit easier to organize. This is where all of your opportunities start and end.
              <span class="underline--magical"><br>This is PutTogether.</span>
          </p>
          <hr class="my-4">
          </div>
        </div>
{#        <div class="footer-section links"></div>#}
{#        <div class="footer-section contact-form"></div>#}


    </div>
    </div>
      </footer>
{#    </div>#}
{#    </div>#}

<!------------------------------------------------------- Contact Us Modal------------------------------------------------------>
    {% include 'Forms/ContactUs.html' %}



{% block scripts %}

    <script>
        $("#ContactUsForm").off().on('submit',function (event) {
        event.preventDefault();

        var email="";

        {% if not request.user.is_authenticated %}
            var email = document.getElementById('contact_email').value;
            console.log(email);
        {% endif %}

        var subject = document.getElementById('contact_subject').value;
        console.log(subject);

        var message = document.getElementById('contact_message').value;
        console.log(message);


        {#email_error.style.display = 'none';#}
        {#subject_error.style.display = 'none';#}
        {#message_error.style.display = 'none';#}


        $.ajax({
            type: "POST",
            url: "ContactUs/",
            data: {message:message, email:email, subject:subject, csrfmiddlewaretoken: csrftoken},
            success: function () {
                location.reload(true);
            },
            error: function () {
                console.log("NOT CORRECT");
            }
        })
    });
    </script>

<script>
  AOS.init();
</script>

{% endblock %}

