{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

  <section class="presentation">
    <div class="introduction">
      <div class="intro-text">
        <h1>Your Life, Put Together.</h1>
        <p>
          Your New Favorite Project Management Tool, PutTogether.
        </p>
      </div>
        {% if not  request.user.is_authenticated %}
              <div class="cta">
              <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-round btn-default .btn-small">
                  <i class="fas fa-sign-in-alt"></i>
                  LOGIN</button>
                  <a  href="#Pricing" style="color: white" class="btn btn-primary-success  btn-round btn-raised btn-success .btn-block">
                        <i class="fas fa-user-plus"></i>

                                    SING UP NOW - IT'S
                        FREE
                  </a>
              </div>
        {% endif %}
    </div>

    <div class="cover">
        <br>
        <br>
      <img src="{% static 'img/Top_Background.png' %}" class="responsive" alt="matebook" />
    </div>
  </section>

<!------------------------------------------------------ /LANDING PART TOP BACKGROUND ------------------------------------------------------->

      <!----------------------------------------------------- Features SECTIONS ----------------------------------------------------->
      <div class="container-fluid padding" style="margin-top: 7%; margin-bottom: 5%;">
        <div id="WhyUs" class="row text-center padding''">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <img alt="Responsinve Icon" src="{% static 'img/Responsive_Icon.png' %}" width="10%">
            <h3>Responsive</h3>
            <p>Fastest, most responsive experience!</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="{% static 'img/Syn_icon.png' %}" width="10%">
            <h3>Platform Sync</h3>
            <p>Stay Connected anywhere on any device!</p> 
          </div>
          <div class="col-sm-12 col-md-4">
            <img src="{% static 'img/User_friendly_icon.png' %}" width="10%" alt="">
            <h3>USER FRIENDLY</h3>
            <p>No tutorial needed to understand how this works!</p>
          </div>
        </div>
      </div>
      <!------------------------------------------------------ /Features SECTIONS  ------------------------------------------------------>

<!------------------------------------------------------ POTNEIAL WHY US SECTION ------------------------------------------------------>
      <hr class="my-4">
      <div class="row" >
        <div class="col-md-11 col-xs-5 mr-auto ml-auto text-center">
          <div class="row">
            <div class="col-md-8 col-xs-12 mr-auto ml-auto text-center">
              <br>
                <h1 class="display-2">Seize Your Potential.</h1>
                <br>
            </div>
            <div class="col-md-12 col-xs-12 ml-auto mr-auto">
                <p class="lead text-muted"> PuTogether helps you work from anywhere, with anyone. PuTogether makes it easier for you to manage, collaborate, and stay up-to-date with your backlog. You are one click away from being more Productive, more Cross-Functional, and most importantly, more Transcendent.</p>
                    <br>
                    <br>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-4">
      
{#      </div>#}
      <!------------------------------------------------------  /POTNEIAL WHY US SECTION   ------------------------------------------------------>

      <!------------------------------------------------------  CAROUSEL OF FEATURES   ------------------------------------------------------>
     <div class = "wrapper for buttons" style="text-align: center">
        <div id="carouselExampleIndicators" class="carousel slide"  style="width: 45%; display: inline-block" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <h4>Your All New Redesigned Scrum Board!</h4>
              <img class="d-block w-100" src="../static/img/Scrum_Board.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <h4>Add Tasks Whenever, to Whomever!</h4>

              <img class="d-block w-100" src="../static/img/FEMALE_adding_Cards.png" alt="Second slide">
            </div>
            <div class="carousel-item">
              <h4>Get Stuff Done!</h4>
                <img class="d-block w-100" src="../static/img/Checked_cards.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
     </div>
    <hr class="my-4">

 <!------------------------------------------------------  CAROUSEL OF FEATURES   ------------------------------------------------------>








<!------------------------------------------------------   PRICING ------------------------------------------------------>
      <div id="Pricing" class="section text-center">
        <h2 class="title">Our Plans</h2>
        <br>
        <div class="pricing-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category text-info">Free</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>0
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>1</b> Project</li>
                                <li>
                                    <b>5</b> Team Members</li>
                            </ul>

                        {% if  request.user.is_authenticated and request.user.account_type == 'F' %}
                            <a href="#pablo"  class="btn btn-default btn-raised btn-round">
                                Your Current Plan
                            </a>

                        {% elif request.user.is_authenticated and  request.user.account_type == 'P' or request.user.account_type == 'B'  %}
                            <a href="#pablo" data-type="F" data-target="#downGrade" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Downgrade
                            </a>
                        {% elif not request.user.is_authenticated %}
                            <a  class="btn btn-default btn-raised btn-round"  data-target="#signupModal" data-toggle="modal">
                                Get Started
                            </a>
                        {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-pricing card-raised bg-rose">
                        <div class="card-body">
                            <h6 class="card-category text-info">Premium</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>10
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>500</b> Projects</li>
                                <li>
                                    <b>50</b> Team Members</li>
                                <p>{{  request.user.account_type }}</p>
                            </ul>
                        {% if request.user.is_authenticated and request.user.account_type == 'P' %}

                            <a href="#pablo"  data-type="P"  class="btn btn-white btn-raised btn-round plans">
                               Your Current Plan
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type == 'F' %}
                            <a href="#pablo"  data-type="P" data-target="#UpgradeModal" data-toggle="modal"  class="btn btn-white btn-raised btn-round plans">
                               Upgrade
                            </a>

                        {% elif  not request.user.is_authenticated  %}
                            <a href="#pablo"  data-type="P" data-target="#planPricingModal" data-toggle="modal"  class="btn btn-white btn-raised btn-round plans">
                               Get Started
                            </a>
                        {% elif request.user.is_authenticated and request.user.account_type == 'B'  %}
                            <a href="#pablo"  data-type="P"  data-target="#downGrade" data-toggle="modal" class="btn btn-white btn-raised btn-round plans">
                               Downgrade
                            </a>
                        {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category text-info">Platinum</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>20
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>1000</b> Projects</li>
                                <li>
                                    <b>100</b> Team Members</li>
                        </ul>
                       {% if not request.user.is_authenticated %}
                            <a href="#pablo" data-target="#planPricingModal" data-type="B" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Get Started
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type != 'B'  %}

                            <a href="#pablo" data-target="#UpgradeModal" data-type="B" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Upgrade
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type == 'B' %}
                            <a href="#pablo"  class="btn btn-default btn-raised btn-round plans">
                                Your Current Plan
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>


      <hr class="my-4">
      <div id="Team" class="section text-center">
        <h2 class="title">Our Team</h2>
        <br>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/Fahed_team_pic (2).jpg' %}" height="100%" width="70%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Fahed
                    <br>
                    <small class="card-description text-muted">Databases & Functionality</small>
                  </h4>
                  
                  <div class="card-footer justify-content-center"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/khaled.final (2).jpg' %}"  width="75%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Khaled
                    <br>
                    <small class="card-description text-muted">User Interface & User Experience</small>
                  </h4>

                  <div class="card-footer justify-content-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/Zeynep_teampic (2).jpg' %}" width="59%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Zeynep
                    <br>
                    <small class="card-description text-muted">Backend & Jinja</small>
                  </h4>
                  
                  <div class="card-footer justify-content-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
<!------------------------------------------------------/PRICING ------------------------------------------------------>

<!------------------------------------------------------- MODAL FOR SIGNING UP!------------------------------------------------------>
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">

                  <div class="col mr-auto">

                    <form  id='SignUpForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group">

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-user"></i>
                              </div>
                            </div>
                            <input type="text" required  id ='usr_name' value="fahedshaabani" class="form-control" placeholder="Name...">
                          </div>
                            <label  class="label_control" id="name_error" style="display: none;">provide a meaningful name</label>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-envelope"></i>
                              </div>
                            </div>
                            <input type="email" required id='email' value="fahedshabani@std.sehir.edu.tr" class="form-control" placeholder="Email...">
                          </div>
                            <label class="label_control" id="email_error" style="display: none;">email exists</label>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-key" aria-hidden="true"></i>
                              </div>
                            </div>
                            <input type="password" required   id="password" value="fahedshaabani" placeholder="Password..." class="form-control pass" />
                          </div>
                            <label class="label_control" id="password_error" style="display: none;">password longer than 8 characters</label>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-key" aria-hidden="true"></i>
                              </div>
                            </div>
                            <input type="password"  required id="password_repeat" value="fahedshaabani"  placeholder="Confirm Password..." class="form-control pass" />
                          </div>
                            <label class="label_control" id="repeat_error" style="display: none;">passwords do not match</label>
                        </div>

                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="submit" onclick="Control()" class="btn btn-primary btn-round">Get Started</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!------------------------------------------------------/MODAL FOR Logging in! ------------------------------------------------------>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">

                  <div class="col mr-auto">

                    <form  id='loginForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">

                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-envelope"></i>
                              </div>
                            </div>
                            <input type="email" required id='email_login' value="fahedshabani@std.sehir.edu.tr" class="form-control" placeholder="Email...">
                          </div>
                            <label class="ml-auto mr-auto" id="email_error_login" style="display: none;">email exists</label>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-key" aria-hidden="true"></i>
                              </div>
                            </div>
                            <input type="password" required   id="password_login" value="fahedshaabani" placeholder="Password..." class="form-control pass" />
                          </div>
                            <label class="label_control" id="password_error_login" style="display: none;">password longer than 8 characters</label>
                        </div>

                      </div>
                      <div class="modal-footer justify-content-center ">
                        <button type="submit"  onclick="loginControl()" class="btn btn-primary btn-round">Login</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!------------------------------------------------------ Buying a plan Modal ------------------------------------------------------>

 <div class="modal fade" id="planPricingModal" tabindex="-1" role="dialog" data-type="" >
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Buy a Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mr-auto">

                         <form>
                        {% csrf_token %}
                           <div class="form-group">

                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fas fa-user"></i>
                              </div>
                            </div>
                            <input type="text" required  id ='p_usr_name' value="fahedshaabani" class="form-control" placeholder="Name...">
                          </div>
                        </div>

                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                  </div>
                                </div>
                                <input type="email" required id='p_email' value="fahedshabani@std.sehir.edu.tr" class="form-control" placeholder="Email...">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                  </div>
                                </div>
                                <input type="password" required   id="p_password" value="fahedshaabani" placeholder="Password..." class="form-control pass" />
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                  </div>
                                </div>
                                <input type="password"  required id="p_password_repeat" value="fahedshaabani"  placeholder="Confirm Password..." class="form-control pass" />
                              </div>
                            </div>


                             <div class="form-group">
                                    <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-key" aria-hidden="true"></i>
                              </div>
                            </div>
                            <input type="text"  required id="creditCardNumber"   placeholder="Credit #..." class="form-control" />
                          </div>

                             </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="secu_num">Security Number</label>
                              <input type="text" class="form-control" id="p_secu_num">
                            </div>

                            <div class="form-group col-md-3">
                              <label for="expmonth">Exp.Month</label>
                              <input type="number" min="0" max="12" class="form-control" id="expmonth">

                            </div>
                            <div class="form-group col-md-2 ml-auto">
                              <label for="yearExp">Exp.Year</label>
                              <input type="number" class="form-control" id="yearExp">
                            </div>
                          </div>
                        <label class="label_control" id="plan_error" style="display: none;padding-bottom:.5rem;padding-top: 1rem">Credit Card is a 16 digit number</label>

                          <button type="submit" class="btn btn-primary">Sign up</button>
                        </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<!------------------------------------------------------ Modal upgrading ------------------------------------------------------>


 <div class="modal fade" id="UpgradeModal" tabindex="-1" data-type="" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Upgrade Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mr-auto">

                    <form  id='upgradeForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                            <div class="col">
                                  <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                                <i class="fas fa-credit-card"></i>
                                          </div>
                                        </div>
                                        <input type="text" required id='CreditNumber' value="" class="form-control" placeholder="Card #">
                                  </div>

                            </div>
                            <div class="col">
                                  <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                                <i class="fas fa-credit-card"></i>
                                          </div>
                                        </div>
                                        <input type="text" required id='csv_number' value="" class="form-control" placeholder="Security Code" >
                                  </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                  <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                                <i class="fas fa-credit-card"></i>
                                          </div>
                                        </div>
                                        <input type="number" min="0" max="12" required id='MonthCredit' value="" class="form-control" placeholder="Month">
                                  </div>
                            </div>
                            <div class="col">
                                  <div class="input-group">
                                        <div class="input-group-prepend">
                                          <div class="input-group-text">
                                                <i class="fas fa-credit-card"></i>
                                          </div>
                                        </div>
                                        <input type="number" min="2010" max="2040"  required id='YearCredit' value="" class="form-control" placeholder="Year" >
                                  </div>
                            </div>
                        </div>

                        <label class="label_control" id="upgrade_error" style="display: none;padding-left: 9.5rem;padding-top: 1rem">Credit Card is a 16 digit number</label>

                      </div>
                      <div class="modal-footer justify-content-center" style="padding: 7px">
                        <button type="submit"  class="btn btn-primary btn-round">Upgrade</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


<!------------------------------------------------------ /Model DownGrade ------------------------------------------------------>

 <div class="modal fade" id="downGrade" tabindex="-1" data-type="" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Downgrade Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mr-auto">

                    <form  id='downGradeForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group justify-content-center">
                              <h3 >Are you sure ?</h3>
                        </div>
                      </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<!------------------------------------------------------ FOOTER ------------------------------------------------------>

<!------------------------------------------------------ /FOOTER ------------------------------------------------------>




{% endblock %}
      <!------------------------------------------------------  SCRIPTS ------------------------------------------------------>
{% block scripts %}

    <script>

        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/forms.js' %}"></script>

  <script>
        // Select all links with hashes
        $('a[href*="#"]')
          // Remove links that don't actually link to anything
          .not('[href="#"]')
          .not('[href="#0"]')
          .click(function (event) {
            // On-page links
            if (
              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
              location.hostname == this.hostname
            ) {
              // Figure out element to scroll to
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              // Does a scroll target exist?
              if (target.length) {
                // Only prevent default if animation is actually gonna happen
                event.preventDefault();
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000, function () {
                  // Callback after animation
                  // Must change focus!
                  var $target = $(target);
                  $target.focus();
                  if ($target.is(":focus")) { // Checking if the target was focused
                    return false;
                  } else {
                    $target.attr('tabindex',
                      '-1'); // Adding tabindex for elements not focusable
                    $target.focus(); // Set focus again
                  };
                });
              }
            }
          });
      </script>

{% endblock %}
