{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

  <section class="presentation" id="Top_background">
    <div class="introduction">
      <div class="intro-text">
        <h1>Your Life,
            <span class="underline--magical"><strong>Put Together.</strong></span>
        </h1>
        <p>
          <small style="font-size: 12px">Your New Favorite Project Management Tool, PutTogether.</small>
        </p>
      </div>
        {% if not  request.user.is_authenticated %}
              <div class="cta" style=" display: inline-flex;">
                  <button type="button" style=" margin-right: 5px" data-toggle="modal" data-target="#loginModal" class="btn btn-round btn-default .btn-sm">
                  <i class="fas fa-sign-in-alt"></i>  LOGIN</button>
                  <a  href="#Pricing" style="color: white;" class="btn btn-success btn-round btn-raised .btn-block">
                        <i class="fas fa-user-plus"></i>  SIGN UP NOW - IT'S FREE!</a>
              </div>
        {% endif %}
    </div>

    <div class="cover">
        <br>
        <br>
      <img src="{% static 'img/Top_Background.png' %}" class="responsive" alt="" />
    </div>
  </section>
<!------------------------------------------------------ /LANDING PART TOP BACKGROUND ------------------------------------------------------->

      <!----------------------------------------------------- Features SECTIONS ----------------------------------------------------->
      <div class="container-fluid padding" style="margin-top: 7%; margin-bottom: 5%;">
        <div id="WhyUs" class="row text-center padding''">
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" data-aos-duration="500">
            <img alt="Responsinve Icon" src="{% static 'img/Responsive_Icon.png' %}" width="9%">
            <h3><strong>Responsive</strong></h3>
            <p>Fastest, most responsive experience!</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-down"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" data-aos-duration="500">
            <img src="{% static 'img/Syn_icon.png' %}" width="10%">
            <h3><strong>Platform Sync</strong></h3>
            <p>Stay Connected anywhere on any device!</p> 
          </div>
          <div class="col-sm-12 col-md-4" data-aos="fade-left"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" data-aos-duration="500">
            <img src="{% static 'img/User_friendly_icon.png' %}" width="10%" alt="">
            <h3><strong>User Friendly</strong></h3>
            <p>No tutorial needed to understand how this works!</p>
          </div>
        </div>
      </div>
      <!------------------------------------------------------ /Features SECTIONS  ------------------------------------------------------>

<!------------------------------------------------------ POTNEIAL WHY US SECTION ------------------------------------------------------>
      <hr class="my-4">
      <div class="row" >
        <div class="col-md-11 col-xs-5 mr-auto ml-auto text-center">
          <div class="row"  data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
            <div class="col-md-8 col-xs-12 mr-auto ml-auto text-center">
              <br>
                <h1 class="display-2"><strong>Seize Your Potential.</strong></h1>
                <br>
            </div>
            <div class="col-md-12 col-xs-12 ml-auto mr-auto">
                <p class="lead text-muted"> PuTogether helps you work from anywhere, with anyone. PuTogether makes it easier for you to manage, collaborate, and stay up-to-date with your backlog. You are one click away from being more Productive, more Cross-Functional, and most importantly, more Transcendent.</p>
                    <br>
                    <br>
            </div>

          </div>
        </div>
      </div>
      <hr class="my-4">
      
{#      </div>#}
      <!------------------------------------------------------  /POTNEIAL WHY US SECTION   ------------------------------------------------------>

      <!------------------------------------------------------  CAROUSEL OF FEATURES   ------------------------------------------------------>
     <div class = "wrapper for buttons" style="text-align: center" data-aos="flip-down" data-aos-duration="1000">
        <div id="carouselExampleIndicators" class="carousel slide"  style="width: 45%; display: inline-block" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <h4><small>Your All New Redesigned Scrum Board!</small></h4>
              <img class="d-block w-100" src="{% static 'img/Scrum_Board.png' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <h4><small>Add Tasks Whenever, to Whomever!</small></h4>

              <img class="d-block w-100" src="{% static 'img/FEMALE_adding_Cards.png' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <h4><small>Get Stuff Done!</small></h4>
                <img class="d-block w-100" src="{% static 'img/Checked_cards.png' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
     </div>
    <hr class="my-4">

 <!------------------------------------------------------  CAROUSEL OF FEATURES   ------------------------------------------------------>








<!------------------------------------------------------   PRICING ------------------------------------------------------>
      <div id="Pricing" class="section text-center" >
          <h2 class="title"><strong data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" data-aos-duration="2000">Our Plans</strong></h2>
        <br>
        <div class="pricing-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-pricing card-plain" data-aos="flip-down" data-aos-duration="1000">
                        <div class="card-body">
                            <h6 class="card-category text-info">Free</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>0
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>1</b> Project</li>
                                <li>
                                    <b>5</b> Team Members</li>
                            </ul>

                        {% if  request.user.is_authenticated and request.user.account_type == 'F' %}
                            <a href="#pablo"  class="btn btn-default btn-raised btn-round">
                                Your Current Plan
                            </a>

                        {% elif request.user.is_authenticated and  request.user.account_type == 'P' or request.user.account_type == 'B'  %}
                            <a href="#pablo" data-type="F" data-target="#downGrade" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Downgrade
                            </a>
                        {% elif not request.user.is_authenticated %}
                            <a  class="btn btn-default btn-raised btn-round plans" data-type="F" style="color: white"  data-target="#signupModal" data-toggle="modal">
                                Get Started
                            </a>
                        {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="flip-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
                    <div class="card card-pricing card-raised bg-rose">
                        <div class="card-body">
                            <h6 class="card-category text-info">Premium</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>10
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>500</b> Projects</li>
                                <li>
                                    <b>50</b> Team Members</li>
                            </ul>
                        {% if request.user.is_authenticated and request.user.account_type == 'P' %}

                            <a href="#pablo"  data-type="P"  class="btn btn-white btn-raised btn-round plans">
                               Your Current Plan
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type == 'F' %}
                            <a href="#pablo"  data-type="P" data-target="#UpgradeModal" data-toggle="modal"  class="btn btn-white btn-raised btn-round plans">
                               Upgrade
                            </a>

                        {% elif  not request.user.is_authenticated  %}
                            <a href="#pablo"  data-type="P" data-target="#planPricingModal" data-toggle="modal"  class="btn btn-white btn-raised btn-round plans">
                               Get Started
                            </a>
                        {% elif request.user.is_authenticated and request.user.account_type == 'B'  %}
                            <a href="#pablo"  data-type="P"  data-target="#downGrade" data-toggle="modal" class="btn btn-white btn-raised btn-round plans">
                               Downgrade
                            </a>
                        {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-pricing card-plain" data-aos="flip-down" data-aos-duration="1000">
                        <div class="card-body">
                            <h6 class="card-category text-info">Platinum</h6>
                            <h1 class="card-title">
                                <small>&#8378</small>20
                                <small>/yr</small>
                            </h1>
                            <ul>
                                <li>
                                    <b>1000</b> Projects</li>
                                <li>
                                    <b>100</b> Team Members</li>
                        </ul>
                       {% if not request.user.is_authenticated %}
                            <a href="#pablo" data-target="#planPricingModal" data-type="B" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Get Started
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type != 'B'  %}

                            <a href="#pablo" data-target="#UpgradeModal" data-type="B" data-toggle="modal" class="btn btn-default btn-raised btn-round plans">
                                Upgrade
                            </a>

                        {% elif request.user.is_authenticated and request.user.account_type == 'B' %}
                            <a href="#pablo"  class="btn btn-default btn-raised btn-round plans">
                                Your Current Plan
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>


      <hr class="my-4">

      <div id="Team" class="section text-center">
          <h2 class="title"><strong data-aos="fade-up"
     data-aos-anchor-placement="top-bottom" data-aos-duration="2000">Our Team</strong></h2>
        <br>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain" data-aos="zoom-in-up" data-aos-offset="250" data-aos-easing="ease-in-sine">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/Fahed_team_pic (2).jpg' %}" height="100%" width="70%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title" style="font-size: 22px">Fahed
                    <br>
                    <small style="font-size: 18px" class="card-description text-muted">Databases & Functionality</small>
                  </h4>
                  
                  <div class="card-footer justify-content-center"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain" data-aos="zoom-in-up" data-aos-offset="250" data-aos-easing="ease-in-sine">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/khaled.final (2).jpg' %}"  width="75%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title" style="font-size: 22px">Khaled
                    <br>
                    <small style="font-size: 18px" class="card-description text-muted">User Interface & User Experience</small>
                  </h4>

                  <div class="card-footer justify-content-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain" data-aos="zoom-in-up" data-aos-offset="250" data-aos-easing="ease-in-sine">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="{% static 'img/Zeynep_teampic (2).jpg' %}" width="59%" alt="Thumbnail Image"
                      class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title" style="font-size: 22px">Zeynep
                    <br>
                    <small style="font-size: 18px" class="card-description text-muted">Backend & Jinja</small>
                  </h4>
                  
                  <div class="card-footer justify-content-center"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
<!------------------------------------------------------/PRICING ------------------------------------------------------>

<!------------------------------------------------------- MODAL FOR SIGNING UP!------------------------------------------------------>
    {% include 'Forms/Signup.html' %}
<!------------------------------------------------------/MODAL FOR Logging in! ------------------------------------------------------>
    {% include 'Forms/Login.html' %}
<!------------------------------------------------------ Buying a plan Modal ------------------------------------------------------>
    {% include 'Forms/planPricing.html' %}
<!------------------------------------------------------ Modal upgrading ------------------------------------------------------>
    {% include 'Forms/UpgradeModal.html' %}
<!------------------------------------------------------ /Model DownGrade ------------------------------------------------------>
    {% include 'Forms/Downgrade.html' %}
<!------------------------------------------------------ /FOOTER ------------------------------------------------------>

<!------------------------------------------------------  Modals ------------------------------------------------------>
{#    {% include 'Forms/LoggedPasswordChange.html' %}#}
    {% include 'Forms/Notification.html' %}
    {% include 'Forms/ResetPassword.html' %}
{#    {% include 'Forms/LoggedPasswordChange.html' %}#}
    {% include "Forms/PasswordCode.html" %}

{#----------------------------------------- FOOTER ---------------------------------------------#}
{#    <footer class="footer" style="position: static; text-align: center; ">#}
{#        <div class="container-fluid">#}
{#            <nav class="float-left">#}
{#            <ul>#}
{#              <li>#}
{#                <a href="#Top_background">#}
{#                    <img src="{% static '/img/Actual_logos/PNG_FORM/puttogether1-04.png'  %}" width="15%" alt="">#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{#          </nav>#}

{#    <div class="footer">#}
{#      <div class="footer-content">#}
{#        <div class="footer-section about">#}
{#              <a class="Socials" href="#"><i class="fab fa-facebook fa-lg"></i></a>#}
{#              <a class="Socials" href="#"><i class="fab fa-twitter fa-lg"></i></a>#}
{#              <a class="Socials" style="fill: #59A61E" data-toggle="modal" data-target="#contactUs"><i class="fab fa-google fa-lg "></i></a>#}
{#              <a class="Socials" href="#"><i class="fab fa-linkedin fa-lg"></i></a>#}
{#              <hr class="my-4">#}
{#          <p>#}
{#            PuTogether is built with passion, transcendence, and user-based development. This is where everything gets a bit easier to organize. This is where all of your opportunities start and end. <br> <span class="underline--magical">This is PutTogether.</span>#}
{#          </p>#}
{#          <hr class="my-4">#}
{#          </div>#}
{#        </div>#}
{#        <div class="footer-section links"></div>#}
{#        <div class="footer-section contact-form"></div>#}
{#    </div>#}
{#    </div>#}
{#      </footer>#}

{#----------------------------------------- FOOTER ---------------------------------------------#}

{% endblock %}

      <!------------------------------------------------------  SCRIPTS ------------------------------------------------------>
{% block scripts %}

    <script>

        var csrftoken = '{{ csrf_token }}';

        </script>
    <script src="{% static 'js/forms.js' %}"></script>

  <script>
        // Select all links with hashes
        $('a[href*="#"]')
          // Remove links that don't actually link to anything
          .not('[href="#"]')
          .not('[href="#0"]')
          .click(function (event) {
            // On-page links
            if (
              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
              location.hostname == this.hostname
            ) {
              // Figure out element to scroll to
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              // Does a scroll target exist?
              if (target.length) {
                // Only prevent default if animation is actually gonna happen
                event.preventDefault();
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000, function () {
                  // Callback after animation
                  // Must change focus!
                  var $target = $(target);
                  $target.focus();
                  if ($target.is(":focus")) { // Checking if the target was focused
                    return false;
                  } else {
                    $target.attr('tabindex',
                      '-1'); // Adding tabindex for elements not focusable
                    $target.focus(); // Set focus again
                  };
                });
              }
            }
          });
      </script>

    <script>
        // Resetting Password
        $(document).ready(function(){
        if (location.href.includes("PasswordResetOut"))
        {
            {% if Available %}
            {% if not check %}
                   let url = location.href.split("/");
                   var code = url[url.length - 1].split("?")[0];
                   var email = url[url.length - 2];
                    $("#Pass_Reset").attr("data-email",email);
                    $("#Pass_Reset").attr("data-code",code);
                    $("#Pass_Reset").modal("show");

                {% else %}
                    document.getElementById("ModalMessageTitle").innerHTML = 'Warning';
                    document.getElementById("ModelMessage").innerHTML = "The lik has already been used, Ask for a new link";
                    $("#Notification").modal("show");
             {% endif %}
        {% elif not Available %}
            document.getElementById("ModalMessageTitle").innerHTML = 'Warning';
            document.getElementById("ModelMessage").innerHTML = "Invalid Link, Please ask for a new link";
            $("#Notification").modal("show");
        {% endif %}
        }

        });

    </script>
    <script>
    $("#Pass_Reset_Form").off().on('submit',function (event) {
        event.preventDefault();
        var password_first = document.getElementById("first_password_Reset").value;
        var first_error = document.getElementById("first_pass_control_Reset");
        var password_second = document.getElementById('second_password_Reset').value;
        var second_error = document.getElementById("second_pass_control_Reset");
        var usr_email = $("#Pass_Reset").attr("data-email");
        var code = $("#Pass_Reset").attr("data-code");

        first_error.style.display = 'none';
        second_error.style.display = 'none';


        if ($.trim(password_first) === '' || $.trim(password_first).length < 8) {
            first_error.style.display = 'block';

            return;
        }
        else if ($.trim(password_first) !== $.trim(password_second))
        {
            second_error.style.display = 'block';
            return;
        }

        $.ajax({
            type: "POST",
            url: "/PutTogether/PasswordReset/",
            data: {password:password_first, email:usr_email, csrfmiddlewaretoken: csrftoken,
                   code:code},
            success: function () {
                $("#Pass_Reset").modal("hide");
                $("#Notification").modal("show");
            },
            error: function () {
                second_error.innerHTML = "Something went wrong, Try again";
                second_error.style.display = 'block';
            }
        })
    });
    </script>
<script>
  AOS.init();
</script>
{% endblock %}

{#{% block footer %}#}
{#{% endblock %}#}