{% load staticfiles%}


  <nav class="navbar navbar-expand sticky-top bg-white">
    <div class="container-fluid">
      <img  src= "{% static 'img/Actual_logos/PNG_FORM/puttogether1-04.png' %}" width="10%" alt="">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link " href="/PutTogether/#WhyUs">WHY US?<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/PutTogether/#Pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/PutTogether/#Team">Team</a>
          </li>
        {% if request.user.is_authenticated %}


                {#  Have this only if the user is logged in               #}

{#                {% load project_list %}#}
{#                {% dynamic_project_list request.user.email as lists %}#}

                <li class="nav-item">
                    <a class="nav-link" data-value="projects" href="/PutTogether/Projects/" id="#projectsPage">Projects</a>
{#                <div class="btn-group">#}
{#                      <a  class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Projects!#}
{#                      </a>#}
{#                      <div class="dropdown-menu">#}
{#                          {% for project in lists.project_list %}#}
{#                            <a class="nav-link dropdown-item" data-value="{{ project.project_id }}" href="{% url 'tasks' p_id=project.project_id %}">{{project.project_name}}</a>#}
{#                          {% endfor %}#}
{##}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="nav-link dropdown-item" data-toggle="modal" data-target="#projectModal">Create Project!</a>#}
{#                      </div>#}
{#                </div>#}
                </li>

                <li class="nav-item">
                <div class="btn-group">
                      <a  class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                      </a>
                      <div class="dropdown-menu">
                            <a class="nav-link dropdown-item" data-toggle="modal" data-target="#LastLogins">Last Logins</a>
                            <a class="nav-link dropdown-item" data-toggle="modal" data-target="#PasswordModal">Change Password</a>
                            <a class="nav-link dropdown-item" data-toggle="modal" data-target="#DeleteModel">Delete Account</a>
                            <a class="nav-link dropdown-item" href="/PutTogether/Loguout/" id="#logOut"> Logout</a>


                      </div>
                </div>
                </li>


            {% endif %}

        </ul>
      </div>

      </div>
  </nav>
{#      <div class="modal fade" id="projectModal" tabindex="-1" role="dialog">#}
{#        <div class="modal-dialog modal-signup" role="document">#}
{#          <div class="modal-content">#}
{#            <div class="card card-signup card-plain">#}
{#              <div class="modal-header">#}
{##}
{#                <h5 class="modal-title card-title">Create Project</h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                  <i class="far fa-window-close" style="color: red"></i>#}
{##}
{#                </button>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                <div class="row">#}
{##}
{#                  <div class="col mr-auto">#}
{##}
{#                    <form  id='projectForm' class="form"  >#}
{#                        {% csrf_token %}#}
{#                      <div class="card-body">#}
{#                        <div class="form-group">#}
{#                          <div class="input-group">#}
{#                            <div class="input-group-prepend">#}
{#                              <div class="input-group-text">#}
{#                                    <i class="fas fa-heading"></i>#}
{#                              </div>#}
{#                            </div>#}
{#                            <input type="text" required id='project_name' value="" class="form-control" placeholder="Project Name...">#}
{#                          </div>#}
{#                            <label class="label_control" id="project_name_error" style="display: none;">meaningful name please...</label>#}
{#                        </div>#}
{##}
{##}
{#                      </div>#}
{#                      <div class="modal-footer justify-content-center">#}
{#                        <button type="submit"  class="btn btn-primary btn-round" >Create</button>#}
{#                      </div>#}
{#                    </form>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

                {#Password change modal#}
      <div class="modal fade" id="PasswordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">

                  <div class="col mr-auto">

                    <form  id='passwordForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                    <i class="fas fa-heading"></i>
                              </div>
                            </div>
                            <input type="password" required id='first_password' value="" class="form-control" placeholder="Password...">
                          </div>
                            <label class="label_control" id="first_pass_control" style="display: none;">Password is 8 characters or more</label>
                        </div>

                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                    <i class="fas fa-heading"></i>
                              </div>
                            </div>
                            <input type="password" required id='second_password' value="" class="form-control" placeholder="Repeat password...">
                          </div>
                            <label class="label_control" id="second_pass_control" style="display: none;">Password's do not match...</label>
                        </div>


                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="submit"  class="btn btn-primary btn-round" >Change</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            {#Delete account#}
      <div class="modal fade" id="DeleteModel" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-signup" role="document">
          <div class="modal-content">
            <div class="card card-signup card-plain">
              <div class="modal-header">

                <h5 class="modal-title card-title">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="far fa-window-close" style="color: red"></i>

                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mr-auto">
                    <form  id='deleteForm' class="form"  >
                        {% csrf_token %}
                      <div class="card-body">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                    <i class="fa fa-key"></i>
                              </div>
                            </div>
                            <input type="password" required id='delete_password' value="" class="form-control" placeholder="Password...">
                          </div>
                            <label class="label_control" id="delete_password_control" style="display: none;">Password is incorrect...</label>
                        </div>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="submit"  class="btn btn-red btn-round" >Delete</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



