{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel='stylesheet' href="{% static 'tagcomplete.css' %}"/>
    <script src= "{% static 'tagcomplete.js' %}"></script>
    <!-- Modal -->
    <br>
    <br>
    <br>
 <div class = "wrapper for buttons" style= "text-align: center; overflow-y:hidden">
 <div class = "Add-Buttons" style="display: inline-block">
     <p id="project_owner" style="display: none">{{ owner }}</p>
      <button id="addTask" data-toggle="modal" data-target="#addTaskModal" class="btn btn-default btn-round btn-sm">
        <i class="material-icons"> add </i>Add New Task</button>
      <button id="addList" data-toggle="modal" data-target="#addListModal" class="btn btn-primary btn-round btn-sm">
        <i class="material-icons"> add </i> Add New List</button>
  </div>
</div>
  <div class="container-fluid">
    <div class="d-md-inline-flex d-sm-block" id="board">

<!---------------------------------------------------------- TO DO List ---------------------------------------------------------->
{#      <div class="col-xs-6 col-md-3">#}
{#        <div class=card-list >#}
{#          <div class="card-header">#}
{#            <h4 class="card-list-title">TODO</h4>#}
{#          </div>#}
{#          <div class="card-list-body text-center"id="to-do">#}
{#            <!-- task card -->#}
{#            <div class="card">#}
{#              <div  class="card-header card-header-danger2">#}
{#                Card title#}
{#                <button  style="position: absolute; right: 1rem;" type="button" class="btn btn-just-icon btn-sm" data-toggle="modal" data-target="#detailModal">#}
{#                  <i class="material-icons">menu</i>#}
{#                </button>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#              </div>#}
{#            </div>#}
{#            <!-- task card -->#}
{#            <div class="card">#}
{#              <div  class="card-header card-header-danger2">#}
{#                Card title#}
{#                <button  style="position: absolute; right: 1rem;" type="button" class="btn btn-just-icon btn-sm" data-toggle="modal" data-target="#detailModal">#}
{#                  <i class="material-icons">menu</i>#}
{#                </button>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
<!-------------------------------------------------- End of TO DO List ---------------------------------------------------------->

<!----------------------------------------------------  Lists ---------------------------------------------------------->
      {% for element in states %}
          {% if tasks %}
            <div class="col-xs-6 col-md-3 col-lg-3" style="min-width: 20.8rem;max-width: 2%" >
         {% else %}
            <div class="col-xs-6 col-md-3 col-lg-3" style="min-width: 20.8rem;max-width: 15%">
            {% endif %}

        <div class="card-list" >
          <div class="card-header">
            <h4 class="card-list-title">{{element.state_name}}</h4>
          </div>
          <div class="card-list-body text-center"id="{{element.state_name}}"  data-color = {{ element.state_color  }}>
            <!-- task card -->
            <!-- task card -->
              {% for item in tasks %}
                  {% if item.task_state == element %}
                    <div class="card" id="{{ item.task_id }}" style="max-width: 90rem;">
                        <div  class="card-header card-header-success2" style="background: #{{element.state_color }}">
                            {{item.task_name}}
                            <button  style="position: absolute; right: 1rem;" type="button" class="btn btn-just-icon btn-sm menu-button" data-id="{{ item.task_id }}" data-toggle="modal" data-target="#detailModal">
                                <i class="material-icons">menu</i>
                            </button>
                        </div>
                        <div class="card-body" id="{{ item.task_id }}">
                            <p class="card-text" > Descrip: {{ item.task_descrip }} Deadline: {{ item.task_deadline }} Given by :{{ item.task_given_by }}</p>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
<!-------------------------------------------------- End of DONE List ---------------------------------------------------------->
    </div>
  </div>


  <!------------------------------------------------- Detail Modal ------------------------------------------------------------>

      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title card-title" id="edit_task_title" data-taskid="none">Edit Card Title Details</h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="far fa-window-close" style="color: red"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mr-auto">
                  <form class="form" id="detailsForm" >
                  {%  csrf_token %}
                    <!-- Assigned to -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">user</i>
                          </div>
                        </div>
                        <!-- This part should show the people who are assigned for the task -->
                        <select id="assignedTo" class="form-control" required>
                            {% for usr in users %}
                          <option  value="{{ usr.email }}">{{ usr.email }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <!-- Deadline -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">calendar-alt</i>
                          </div>
                        </div>
                        <input class="form-control" type="date"  id="task_edit_deadline" placeholder="2019-11-08T19:30">
                      </div>
                    </div>

                    <!-- Details -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">stream</i>
                          </div>
                        </div>
                        <input type="text" id="taskDetailsD" class="form-control" placeholder="Details..." required>
                      </div>
                    </div>
                    <!-- Status -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">list</i>
                          </div>
                        </div>
                        <select id="statusD" class="form-control">
                            {% for element in states %}
                                <option value="{{ element.state_id }}">{{ element.state_name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" style="position: absolute; left: 1rem;" onclick="deleteTask()">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit"  class="btn btn-rose" onclick="changeDetails()" >Save</button>
            </div>
          </div>
        </div>`
      </div>

<!-------------------------------------------------------- End of Detail Modal -------------------------------------------------------->




<!-------------------------------------------------------- Add Task Modal -------------------------------------------------------->

    {#    ----------------------------  JAVASCRIPT FOR SELECTBOX --------------------------- #}
<script>
$(function(){
	var data = [
		'khaledyassen@std.sehir.edu.tr',
		'fahed@std',
		'zeynep@std',
	];

	$(".tags_input").tagComplete({

				keylimit: 1,
				hide: false,
				autocomplete: {
					data: data
				}
		});
});
</script>
{#    ----------------------------  /JAVASCRIPT FOR SELECTBOX --------------------------- #}

    <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title card-title" id="exampleModalLabel">Add Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-window-close" style="color: red"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mr-auto">
                  <form class="form" id="addTaskForm">
                        {% csrf_token %}

                    <!-- Task Details -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">heading</i>
                          </div>
                        </div>
                        <input type="text" id="taskTitle" class="form-control" placeholder="Task Title..." required>
                      </div>
                      <label class="label_control" id="task_name_error" style="display: none;">You already have this task name</label>
                    </div>
                    <!-- Assigned to -->
{#                    <div class="form-group">#}
{#                      <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                          <div class="input-group-text">#}
{#                            <i style="margin-right: 12px" class="fas fa-title">user</i>#}
{#                          </div>#}
{#                        </div>#}
{#                      <div class="container-selectbox">#}
{#                      </div>#}

{#                        <select id="assignedTo" class="form-control">#}
{#                          <option selected value="empty">Choose...</option>#}
{#                            {% for user in users %}#}
{#                          <option value="{{ user.email }} ">{{ user.username }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                      </div>#}
{#                    </div>#}
                    <!-- Deadline -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-title">calendar-alt</i>
                          </div>
                        </div>
                        <input class="form-control" type="date"  id="task_form_deadline" required  placeholder="2019-11-08T19:30">
                      </div>
                      <label class="label_control" id="task_deadline" style="display: none;">Please provide a meaningful details</label>
                    </div>
                    <!-- Task Details -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-info-circle"></i>
                          </div>
                        </div>
                        <input type="text" id="taskDetails" class="form-control" placeholder="Details..." required>
                      </div>
                      <label class="label_control" id="task_descrip" style="display: none;">Please provide a meaningful details</label>
                    </div>
                    <!-- Task Status -->
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">list</i>
                          </div>
                        </div>

                        <select id="status" class="form-control">
                            {% for state in states %}
                          <option value="{{ state.state_id }}">{{ state.state_name }}</option>
                            {% endfor %}
                        </select>

                      </div>
                      <label class="label_control"  id="task_error" style="display: none;">You Already have this task</label>
                    <br>
                    <div class="form-group">Type in the emails here...
{#                        <div class="input-group-prepend">#}

{#                        </div>#}
                        <input type='text' class='tags_input' />
                    </div>
                </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" id=addTask class="btn btn-rose"  onclick="addTask()">Save</button>
            </div>
          </div>
        </div>
      </div>

<!-------------------------------------------------------- End of Add Task Modal -------------------------------------------------------->


<!-------------------------------------------------------- Add List Modal -------------------------------------------------------->

      <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title card-title" id="exampleModalLabel">Add Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="far fa-window-close" style="color: red"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mr-auto">
                  <form class="form" id="addListForm" >
                          {% csrf_token %}
                  <!-- List Title -->
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-title">list</i>
                          </div>
                        </div>
                        <input type="text" id="listTitle" class="form-control" placeholder="List Title..." required>
                      </div>
                      <label class="label_control" id="list_name" style="display: none;">You already have this list.</label>

                    </div>
                    <!-- Color Picker -->
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-tint"></i>
                          </div>
                        </div>
                        <input id="headerColor" class="jscolor" value="ab2567">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit"  class="btn btn-rose" onclick="addList()" >Save</button>
            </div>
          </div>
        </div>
      </div>
  </div>

<!---------------------------------------------------- End of Add List Modal -------------------------------------------------------->





{% endblock %}

   {% block scripts %}
       <script>
              var csrftoken = '{{ csrf_token }}';
       </script>


       <script src="{% static 'js/dragula.js' %}"></script>
       <script src="{% static 'js/jscolor.js' %}"></script>
              <script>
       dragula([
                  {% for element in states %}
            document.getElementById("{{ element.state_name}}"),
                {% endfor %}
       ]);
       </script>
    <script src="{% static 'js/project_page.js' %}"></script>


   {% endblock %}

    {% block footer %}

    {% endblock %}

