{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel='stylesheet' href="{% static 'tagcomplete.css' %}"/>
    <script src= "{% static 'tagcomplete.js' %}"></script>
    <div class="container">
    <br>
    <br>
    <br>
    <br>
    {% if allow %}
        <div style="text-align: center">
            <button class="btn btn-success btn-round btn-bg" style="display: inline-block" data-toggle="modal" onclick="createprojectmodal()"> <strong>Create Project!</strong></button>

        </div>
    {% elif not allow %}
        <div style="text-align: center">
            <button class="btn btn-success btn-round btn-bg" style="display: inline-block;" data-toggle="modal" data-target="#UpgradeModal">Upgrade First!</button>
        </div>
    {% endif %}

    {% if not projects %}
        <div class="row" style="margin-bottom: 7rem;"></div>
{#        <div class="row" style="margin-bottom: 18rem;"></div>     //just show logo (without writing)#}
    {% endif %}

        <div class="row">
            {% for project in projects %}
                {% load progressbar %}
                {% progressbar project.project_id as list %}
                <div class="col-md-4" data-aos="fade-up" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom">
                    <div class="card"  style="width: 20rem;" id="{{project.project_id}}">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" style="width: {{list.percentage}}%;" aria-valuenow="{{list.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card-body">
                           <strong> <h4 class="card-title" style="position: absolute; top: 0.65rem;"><a  href="{% url 'tasks' p_id=project.project_id %}">
                                {{project.project_name}}</a>
                            </h4></strong>
                            <a data-toggle="dropdown" id="dropdownmenu-click" data-id="{{ project.project_id }}" style="position: absolute; width:1.5rem; top:1.5rem; right: 0rem; cursor: pointer" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-title" >ellipsis-v</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="min-width: 3rem;" >
                                <button class="dropdown-item" id="editId" data-toggle="modal" data-id="{{ project.project_id}}" data-target="#editModal">Edit</button>
                                <button class="dropdown-item" id="add-user" data-id="{{ project.project_id }}" data-toggle="modal" data-target="#addUserModal">Add User</button>
                                <button class="dropdown-item" id="deleteId" data-id="{{ project.project_id }}" data-target="#deleteConfirmation">Delete</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Owner:  {{ project.usr_email.username }}</p>
                            <p class="card-text"> Number of Members: {{ list.user_count }}</p>
                            <p class="card-text"> Number of Tasks:  {{list.total}} </p>
                            <small><p class="card-text"> Date & Time Created: {{ project.creation_date}} {{ project.creation_time}}</p></small>
                         </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>


     <!-------------------------------------------------------- Create Project Modal -------------------------------------------------------->

    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title card-title">Create Project</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-window-close" style="color: red"></i>
            </button>
          </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mr-auto">
                  <form  id='projectForm' class="form" autocomplete="off" >
                      {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-heading"></i>
                            </div>
                          </div>
                          <input type="text" required id='project_name' value="" class="form-control" placeholder="Project Name...">
                        </div>
                        <br>
                        <div><h4 >Members:</h4></div>
                          <input type='text' class='tags_input' id="newProjectUsers"  />
                        <label class="label_control" id="project_name_error" style="display: none;">meaningful name please...</label>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-center" style="margin-top: -1rem; margin-bottom: -0.5rem;">
                      <button type="submit"  class="btn btn-primary btn-round">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>



  <!------------------------------------------------- End of Create Project Modal ------------------------------------------------------------>


<!--------------------------------------------------------  Upgrade Account Modal -------------------------------------------------------->

     <div class="modal fade" id="UpgradeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-signup" role="document">
      <div class="modal-content">
        <div class="card card-signup card-plain">
          <div class="modal-header">

            <h5 class="modal-title card-title">Upgrade Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-window-close" style="color: red"></i>

            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mr-auto">

                <form  id='upgradeForm' class="form"  >
                    {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                        <div class="col">
                              <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                            <i class="fas fa-credit-card"></i>
                                      </div>
                                    </div>
                                    <input type="text" required id='CreditNumber' value="" class="form-control" placeholder="Card #">
                              </div>

                        </div>
                        <div class="col">
                              <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                            <i class="fas fa-credit-card"></i>
                                      </div>
                                    </div>
                                    <input type="text" required id='csv_number' value="" class="form-control" placeholder="Security Code" >
                              </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                              <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                            <i class="fas fa-credit-card"></i>
                                      </div>
                                    </div>
                                    <input type="number" min="0" max="12" required id='MonthCredit' value="" class="form-control" placeholder="Month">
                              </div>
                        </div>
                        <div class="col">
                              <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text">
                                            <i class="fas fa-credit-card"></i>
                                      </div>
                                    </div>
                                    <input type="number" min="2010" max="2040"  required id='YearCredit' value="" class="form-control" placeholder="Year" >
                              </div>
                        </div>
                    </div>

                    <label class="label_control" id="upgrade_error" style="display: none;padding-left: 9.5rem;padding-top: 1rem">Credit Card is a 16 digit number</label>
                  </div>
                  <div class="modal-footer justify-content-center" style="padding: 7px">
                    <button type="submit"  class="btn btn-primary btn-round">Upgrade</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-------------------------------------------------------- End of Upgrade Account Modal -------------------------------------------------------->

  <!------------------------------------------------- Detail Modal ------------------------------------------------------------>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title card-title" id="edit_project_title" data-projectid="none">Project Details</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="far fa-window-close" style="color: red"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mr-auto">
              <form class="form" id="editForm" method="" action="">
                {%  csrf_token %}

                <!-- Project Title-->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-heading"></i>
                      </div>
                    </div>
                    <input type="text" id="projectTitle" class="form-control" required>
                  </div>
                </div>
                <!-- When the project is created -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-title">calendar-alt</i>
                      </div>
                    </div>
                     <input class="form-control" type="text" id="project_creation_time" disabled>
{#                     <input class="form-control" type="datetime-local" id="project_creation_time"> #}
                  </div>
                </div>

                <!-- Team Members -->
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-title">user</i>
                      </div>
                    </div>

                    <!-- This part should show the team members with their photos, names, emails. -->
                    <select id="teamMembers" class="form-control" required>
{#                            {% for usr in users %}#}
{#                          <option  value="{{ usr.email }}">{{ usr.email }}</option>#}
{#                            {% endfor %}#}
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-round" style="position: absolute; left: 1rem;" id="deleteId" data-target="#deleteConfirmation">Delete</button>
{#          <button class="btn btn-danger" style="position: absolute; left: 1rem;" id="deleteId" data-target="#deleteConfirmation">Delete</button>#}
          <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-round" data-dismiss="modal" onclick="editDetails()">Save</button>
        </div>
      </div>
    </div>`
  </div>

<!-------------------------------------------------------- End of Detail Modal -------------------------------------------------------->

  <!------------------------------------------------- Add User Modal ------------------------------------------------------------>

{#    ----------------------------  JAVASCRIPT FOR SELECTBOX --------------------------- #}
<script>
$(function(){


    var data = [{% for user in users %}
        '{{ user }}',
        {% endfor %} ];


	$(".tags_input").tagComplete({
            keylimit: 1,
            hide: false,
            autocomplete: {
                data: data
            }
		});
});
</script>
{#    ----------------------------  /JAVASCRIPT FOR SELECTBOX --------------------------- #}
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title card-title" id="add_member" data-taskid="none">Invite Your New Team Members!</h5>
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#            <i class="far fa-window-close" style="color: red"></i>#}
{#          </button>#}
        </div>
        <div class="modal-body" id="inviteModalForm">
              <form class="form" id="InviteForm" data-projectid="" action="javascript:void(0)">
                  {%  csrf_token %}
                <!-- Invite Team Members -->
                <div class="form-group">
                  <div class="input-group_add_mem">
                    <div class="input-group-prepend">
                    </div>
                      <div class="container-selectbox" >
                          <input id="selectedUsers" type='text' class='tags_input'/>
                      </div>
                  </div>
                  <label class="label_control ml-auto mr-auto" id="add_user_errors" style="display: none;">Email already exists</label>
                </div>

              <div class="modal-footer justify-content-center" style="margin-top: -1rem; margin-bottom: -0.5rem;">
                      <button type="button" class="btn btn-secondary btn-round btn-sm" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success btn-round btn-sm">Invite</button>
              </div>
              </form>
        </div>

      </div>
    </div>`
  </div>

<!-------------------------------------------------------- End of Add User Modal -------------------------------------------------------->

 <!-------------------------------------------------------- Confirm the Deletion  Modal -------------------------------------------------------->

    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title card-title" id="edit_project_title" data-projectid="none">Confirm the Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-window-close" style="color: red"></i>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary btn-round" onclick="deleteProject()">Yes</button>
          </div>
        </div>
      </div>
    </div>

  <!------------------------------------------------- End of Confirm the Deletion  Modal ------------------------------------------------------------>

{% endblock %}

{% block scripts %}

    <script src="{% static 'js/projects_page_forms.js' %}"></script>

    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>

<script>
  AOS.init();
</script>

{% endblock %}
